apiVersion: node.eks.aws/v1alpha1
kind: NodeConfig
spec:
  cluster:
    name: "{{ .ClusterName }}"
    region: "{{ .Region }}"
  hybrid:
    {{- if .IAMRolesAnywhere }}
    {{- with .IAMRolesAnywhere }}
    nodeName: {{ .NodeName }}
    iamRolesAnywhere:
      assumeRoleArn: {{ .AssumeRoleARN }}
      profileArn: "{{ .ProfileARN }}"
      roleArn: "{{ .RoleARN }}"
      trustAnchorArn: "{{ .TrustAnchorARN }}"
    {{- end }}
    {{- else if .SSM }}
    {{- with .SSM }}
    ssm:
      activationCode: "{{ .ActivationCode }}"
      activationId: "{{ .ActivationID }}"
    {{- end }}
    {{- end }}
